# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Uploaded files
uploads/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/